@font-face {
  font-family: "MonksWriting";
  src: url("MonksWriting.ttf") format("truetype");
}

html, body {
	height: 100%;
}

body {
	background: #0e080a;
	margin: 0;
	padding: 0;

    background-image: url(skriptorium.jpg);
    background-repeat: no-repeat;
    background-size: cover; /*100% auto;*/
    background-position: center center;
    background-attachment: fixed;
}

/* Playarea arrangement via FLEXBOX */
#layout-parent {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; /* cross axis */
}

#playarea {
	width: 80em;
	/*max-width: 90%;*/
	height: 50em;
	max-height: 90%;
	background-color: #00000090;
	border-radius: 8px;
}

h1#main-title {
	font-family: "MonksWriting";
	text-align: center;
	color: #EEEEEE;
	font-size: 7em;
	display: none;
}

#books {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center; /* cross axis */
	height: 100%;
	font-size: 1.7em;
}
#source {
	position: relative;
    width: 48%;
    height: 100%;
}
#source > img {
	position: absolute;
	height: 100%;
	z-index: 5;
}
#source > div.page-area {
	position: absolute;
	top: 0px;
	bottom: 0px;
	overflow: hidden;
	z-index: 10;
	font-family: "MonksWriting";
	padding: 110px 110px 100px 130px;
}
#target {
	position: relative;
    width: 48%;
    height: 100%;
	overflow: hidden;
}
#target > img {
	position: absolute;
	height: 100%;
	z-index: 5;
}
#target > div.page-area {
	position: absolute;
	top: 0px;
	bottom: 0px;
	overflow: hidden;
	z-index: 10;
	font-family: "MonksWriting";
	padding: 110px 110px 100px 130px;
}
#target > div#score-area {
	position: absolute;
	top: 0px;
	overflow: hidden;
	z-index: 10;
	font-family: "MonksWriting";
	font-size: 2em;
	padding: 50px 110px 0px 130px;
}
#target > div#score-area div {
	display: inline-block;
}
#target > div#score-area > div#scorecnt {
	width: 50px;
}
#target > div#score-area > div#collected {
	margin-left: 20px;
	letter-spacing: 0.2em;
}
#target > div#score-area.noscore {
	opacity: 0;
	animation-name: change-opacity;
    animation-duration: 1s;
}

#target > div#help-area {
	position: absolute;
	font-family: "MonksWriting";
	z-index: 10;
	font-size: 2em;
	text-align: center;
	padding: 250px 110px 0px 130px;
}

.maj {
	color: #d40400;
}

.wrongmaj {
	color: #3551cc;
}

.maj.counted, .wrongmaj.counted {
	opacity: 0;
	animation-name: change-opacity;
    animation-duration: 1s;
}

@keyframes change-opacity {
  from {opacity: 1;}
  to {opacity: 0;}
}

.min {
	opacity: 1;
}

.nomin > .min {
	opacity: 0;
	animation-name: change-opacity;
    animation-duration: 1s;
}