@font-face {
  font-family: "MonksWriting";
  src: url("MonksWriting.ttf") format("truetype");
}

html, body {
	height: 100%;
}

body {
	background: #0e080a;
	margin: 0;
	padding: 0;

    background-image: url(skriptorium.jpg);
    background-repeat: no-repeat;
    background-size: cover; /*100% auto;*/
    background-position: center top;
    background-attachment: fixed;
}

/* Playarea arrangement via FLEXBOX */
#layout-parent {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; /* cross axis */
}

#playarea {
	width: 80em;
	max-width: 90%;
	height: 50em;
	max-height: 90%;
	background-color: #00000090;
	border-radius: 8px;
}

h1#main-title {
	font-family: "MonksWriting";
	text-align: center;
	color: #EEEEEE;
	font-size: 7em;
}

