@font-face {
  font-family: "MonksWriting";
  src: url("MonksWriting.ttf") format("truetype");
}

html, body {
	height: 100%;
}

body {
	background: #0e080a;
	margin: 0;
	padding: 0;

    background-image: url(skriptorium.jpg);
    background-repeat: no-repeat;
    background-size: cover; /*100% auto;*/
    background-position: center center;
    background-attachment: fixed;
}

/* Playarea arrangement via FLEXBOX */
#layout-parent {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; /* cross axis */
}

#playarea {
	width: 80em;
	/*max-width: 90%;*/
	height: 50em;
	max-height: 90%;
	background-color: #00000090;
	border-radius: 8px;
}

h1#main-title {
	font-family: "MonksWriting";
	text-align: center;
	color: #EEEEEE;
	font-size: 7em;
	display: none;
}

#books {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center; /* cross axis */
	height: 100%;
}
#source {
	position: relative;
    width: 48%;
    height: 100%;
}
#source > img {
	position: absolute;
	height: 100%;
	z-index: 5;
}
#source > div {
	position: absolute;
	top: 0px;
	bottom: 0px;
	overflow: hidden;
	z-index: 10;
	font-family: "MonksWriting";
	font-size: 1.2em;
	padding: 110px 110px 100px 130px;
}
#target {
    width: 48%;

}